mixin navbar-item(data)
  li.navbar-menu-item
    a.js-scroll-to.spy.navbar-menu-link(href=data.href, title=data.name)=data.name
mixin header()
  #page-start.spy-it
  header.header
    .container
      nav.navbar
        button.navbar-burger
          span
          span
          span
        .navbar-logo
          a.navbar-logo-link.spy.js-scroll-to(href="/" title=index.name)
            img.navbar-logo-img(src="assets/media/images/content/logo.svg", alt=index.name+" логотип")
        .navbar-menu
          ul.navbar-menu-list
            each item in navbar.items
              +navbar-item(item)
            article
                section.dflex  
                    img(src="assets/media/images/content/header-icon.svg", alt="")  
                    a.nav-number(href="tel:+77016437956") +7 (701) 643-79-56            
                section.dflex  
                    img(src="assets/media/images/content/header-icon.svg", alt="")  
                    a.nav-number(href="tel:+77273390452") +7 (727) 339-04-52
                section.dflex  
                    img(src="assets/media/images/content/header-icon.svg", alt="")  
                    a.nav-number(
                        href="tel:5335"
                        style=`
                            font-size: 20px;
                        `
                    )  5335                    
        a(href="tel:5335" onclick="dataLayer.push({'event': 'header-phone'})").navbar-phone
      .mobile
        nav.mobile-menu
          ul.mobile-menu-list
            each item in navbar.items
              li.mobile-menu-item
                a.mobile-menu-link.js-scroll-to(href=item.href, title=item.name)=item.name
        .mobile-section
          a.js-scroll-to(href="#callback").btn.btn--primary Заказать звонок
        .mobile-section
          .mobile-social
            a.mobile-social-item(href="https://www.facebook.com/topseckz/" target="_blank")
              img(src="assets/media/images/shared/mobile-fb.svg", alt="Facebook")
            a.mobile-social-item(href="https://vk.com/topsecuritykz" target="_blank")
              img(src="assets/media/images/shared/mobile-vk.svg", alt="Vkontakte")
            a.mobile-social-item(href="https://www.instagram.com/topsecurity.kz/" target="_blank")
              img(src="assets/media/images/shared/mobile-insta.svg", alt="Instagram")
        