- var path = 'assets/media/images/content/';

mixin step(data, index)
  - var side = "left"
  if (index+1) % 2 === 0
    - side = "right"
  li.step.anim(class='step--' + (index + 1) + ' step--' + side)
    .step-icon.anim.scale-in
      img.step-img(
        src="assets/media/images/content/" + data.img + ".png",
        alt=data.title)
    .step-caption(class='step-caption--' + side + ' slide-in-' + side)
      h2.step-title=data.title
      p.step-text=data.text
    .step-line.anim(class="step-line--"+side)
      if side === "left"
        <svg class="show-tablet" width="685" height="101" viewBox="0 0 685 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.50098 0V10.5C2.50098 32.5914 20.4096 50.5 42.501 50.5H341.001H642.501C664.592 50.5 682.501 68.4086 682.501 90.5V101" stroke="#FFB800" stroke-width="5" stroke-dasharray="30 10"/>
        </svg>
        <svg class="show-mobile" width="183" height="44" viewBox="0 0 183 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.6459 12.6514L20.8978 12.2194L20.8978 12.2194L20.6459 12.6514ZM178.445 40.0105L178.068 40.339L178.068 40.339L178.445 40.0105ZM180.81 42.187C180.791 42.4624 180.552 42.6704 180.277 42.6515L175.787 42.3427C175.512 42.3237 175.304 42.085 175.323 41.8095C175.342 41.534 175.581 41.3261 175.856 41.345L179.847 41.6195L180.121 37.6289C180.14 37.3535 180.379 37.1455 180.654 37.1644C180.93 37.1834 181.138 37.4221 181.119 37.6976L180.81 42.187ZM89.5843 18.0928L89.4033 17.6267L89.4033 17.6267L89.5843 18.0928ZM2.32722 1.38956L5.64338 3.32347L5.13962 4.1873L1.82345 2.2534L2.32722 1.38956ZM8.29632 4.87059L14.9287 8.7384L14.4249 9.60224L7.79255 5.73443L8.29632 4.87059ZM17.5816 10.2855L20.8978 12.2194L20.394 13.0833L17.0778 11.1494L17.5816 10.2855ZM20.8978 12.2194C22.3653 13.0753 23.8547 13.8807 25.3634 14.6354L24.916 15.5297C23.3882 14.7655 21.88 13.9499 20.394 13.0833L20.8978 12.2194ZM29.0409 16.3586C32.1563 17.7219 35.3429 18.877 38.5798 19.822L38.2995 20.782C35.0217 19.825 31.7948 18.6553 28.64 17.2747L29.0409 16.3586ZM42.5064 20.8599C45.8056 21.6418 49.1474 22.2098 52.5105 22.5623L52.4062 23.5568C49.0007 23.1999 45.6167 22.6247 42.2758 21.8329L42.5064 20.8599ZM56.5594 22.8819C59.9362 23.0614 63.3257 23.0247 66.7067 22.77L66.7818 23.7672C63.3581 24.0251 59.9257 24.0623 56.5063 23.8805L56.5594 22.8819ZM70.7475 22.3611C74.0926 21.9355 77.4209 21.2947 80.7117 20.437L80.9639 21.4047C77.6315 22.2733 74.2611 22.9222 70.8737 23.3531L70.7475 22.3611ZM84.6139 19.3121C86.2224 18.8034 87.8197 18.2417 89.4033 17.6267L89.7653 18.5588C88.1617 19.1816 86.5443 19.7504 84.9155 20.2656L84.6139 19.3121ZM89.4033 17.6267C90.9673 17.0193 92.5419 16.4639 94.1249 15.9599L94.4283 16.9127C92.865 17.4105 91.3099 17.959 89.7653 18.5588L89.4033 17.6267ZM97.9685 14.8409C101.218 13.9822 104.496 13.3351 107.783 12.8951L107.915 13.8863C104.67 14.3208 101.433 14.9598 98.2239 15.8078L97.9685 14.8409ZM111.764 12.4634C115.104 12.1857 118.444 12.1194 121.767 12.2597L121.725 13.2588C118.444 13.1203 115.145 13.1858 111.847 13.4599L111.764 12.4634ZM125.762 12.5284C129.09 12.8359 132.392 13.3509 135.648 14.0684L135.433 15.045C132.217 14.3364 128.956 13.8278 125.67 13.5241L125.762 12.5284ZM139.536 15.0273C142.752 15.9063 145.915 16.9858 149.004 18.2612L148.623 19.1855C145.572 17.9261 142.448 16.86 139.272 15.992L139.536 15.0273ZM152.666 19.8809C155.673 21.3019 158.599 22.9142 161.427 24.7128L160.89 25.5565C158.098 23.7804 155.208 22.1883 152.238 20.785L152.666 19.8809ZM164.751 26.9466C167.456 28.8644 170.056 30.9614 172.534 33.2329L171.859 33.9701C169.412 31.7269 166.843 29.6561 164.172 27.7623L164.751 26.9466ZM175.417 36.0108C176.584 37.1931 177.72 38.4171 178.822 39.6821L178.068 40.339C176.979 39.0897 175.858 37.8809 174.705 36.7133L175.417 36.0108ZM178.822 39.6821L179.488 40.4471L178.734 41.104L178.068 40.339L178.822 39.6821ZM180.022 41.0592L180.688 41.8242L179.934 42.4811L179.268 41.7161L180.022 41.0592ZM20.6459 12.6514L21.1496 11.7875L21.1496 11.7875L20.6459 12.6514ZM178.445 40.0105L177.691 40.6675L177.691 40.6675L178.445 40.0105ZM181.309 42.2213C181.271 42.7722 180.793 43.1882 180.242 43.1503L171.264 42.5327C170.713 42.4948 170.297 42.0174 170.335 41.4664C170.373 40.9155 170.85 40.4995 171.401 40.5374L179.382 41.0864L179.931 33.1052C179.969 32.5543 180.446 32.1383 180.997 32.1762C181.548 32.2141 181.964 32.6915 181.926 33.2425L181.309 42.2213ZM89.5843 18.0928L89.2223 17.1606L89.2223 17.1606L89.5843 18.0928ZM2.5791 0.95764L5.89527 2.89155L4.88773 4.61922L1.57156 2.68532L2.5791 0.95764ZM8.5482 4.43867L15.1805 8.30649L14.173 10.0342L7.54067 6.16635L8.5482 4.43867ZM17.8335 9.85361L21.1496 11.7875L20.1421 13.5152L16.8259 11.5813L17.8335 9.85361ZM21.1496 11.7875C22.6079 12.638 24.0879 13.4383 25.5871 14.1882L24.6923 15.9769C23.155 15.2079 21.6374 14.3872 20.1421 13.5152L21.1496 11.7875ZM29.2413 15.9005C32.3371 17.2553 35.5035 18.403 38.7199 19.3421L38.1594 21.2619C34.8611 20.2989 31.6141 19.122 28.4395 17.7327L29.2413 15.9005ZM42.6217 20.3733C45.9001 21.1503 49.2207 21.7148 52.5626 22.065L52.3541 24.0541C48.9273 23.695 45.5222 23.1162 42.1605 22.3194L42.6217 20.3733ZM56.586 22.3826C59.9414 22.561 63.3095 22.5245 66.6691 22.2714L66.8193 24.2658C63.3742 24.5253 59.9205 24.5627 56.4798 24.3798L56.586 22.3826ZM70.6844 21.8651C74.0083 21.4422 77.3156 20.8055 80.5856 19.9532L81.09 21.8885C77.7368 22.7625 74.3453 23.4155 70.9368 23.8491L70.6844 21.8651ZM84.4632 18.8354C86.0614 18.3299 87.6486 17.7717 89.2223 17.1606L89.9463 19.0249C88.3327 19.6516 86.7052 20.224 85.0663 20.7423L84.4632 18.8354ZM89.2223 17.1606C90.796 16.5494 92.3804 15.9906 93.9733 15.4834L94.58 17.3892C93.0266 17.8838 91.4813 18.4288 89.9463 19.0249L89.2223 17.1606ZM97.8407 14.3575C101.111 13.4934 104.409 12.8423 107.716 12.3996L107.982 14.3819C104.757 14.8136 101.541 15.4485 98.3516 16.2912L97.8407 14.3575ZM111.723 11.9651C115.083 11.6857 118.445 11.619 121.788 11.7601L121.704 13.7583C118.443 13.6207 115.165 13.6858 111.889 13.9582L111.723 11.9651ZM125.808 12.0305C129.157 12.34 132.479 12.8581 135.756 13.5801L135.325 15.5333C132.13 14.8291 128.89 14.3238 125.624 14.022L125.808 12.0305ZM139.668 14.545C142.904 15.4294 146.086 16.5157 149.195 17.799L148.432 19.6477C145.4 18.3962 142.297 17.3368 139.14 16.4743L139.668 14.545ZM152.879 19.4289C155.905 20.8588 158.85 22.481 161.695 24.2909L160.621 25.9784C157.847 24.2135 154.975 22.6315 152.025 21.2371L152.879 19.4289ZM165.04 26.5387C167.762 28.4685 170.379 30.5786 172.872 32.8644L171.521 34.3386C169.089 32.1096 166.537 30.052 163.883 28.1702L165.04 26.5387ZM175.773 35.6595C176.947 36.8493 178.09 38.0808 179.199 39.3536L177.691 40.6675C176.609 39.426 175.494 38.2248 174.349 37.0645L175.773 35.6595ZM179.199 39.3536L179.865 40.1187L178.357 41.4325L177.691 40.6675L179.199 39.3536ZM180.399 40.7307L181.065 41.4957L179.557 42.8096L178.891 42.0445L180.399 40.7307Z" fill="#FFB800"/>
        </svg>
      else
        <svg class="show-tablet" width="685" height="101" viewBox="0 0 685 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.50098 101V90.5C2.50098 68.4086 20.4096 50.5 42.501 50.5H341.001H642.501C664.592 50.5 682.501 32.5914 682.501 10.5V0" stroke="#FFB800" stroke-width="5" stroke-dasharray="30 10"/>
        </svg>
        <svg class="show-mobile" width="184" height="43" viewBox="0 0 184 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M163.09 12.0752L162.839 11.6433L162.839 11.6433L163.09 12.0752ZM5.2916 39.4344L5.66858 39.7628L5.66858 39.7628L5.2916 39.4344ZM2.92639 41.6108C2.94534 41.8863 3.18403 42.0942 3.45952 42.0753L7.94892 41.7665C8.22441 41.7476 8.43238 41.5089 8.41343 41.2334C8.39448 40.9579 8.15579 40.7499 7.88029 40.7689L3.88972 41.0433L3.61524 37.0528C3.59629 36.7773 3.3576 36.5693 3.08211 36.5883C2.80662 36.6072 2.59865 36.8459 2.6176 37.1214L2.92639 41.6108ZM94.152 17.5166L94.333 17.0505L94.333 17.0505L94.152 17.5166ZM181.409 0.813387L178.093 2.74729L178.597 3.61113L181.913 1.67723L181.409 0.813387ZM175.44 4.29442L168.808 8.16223L169.311 9.02607L175.944 5.15826L175.44 4.29442ZM166.155 9.70936L162.839 11.6433L163.342 12.5071L166.659 10.5732L166.155 9.70936ZM162.839 11.6433C161.371 12.4991 159.882 13.3045 158.373 14.0592L158.82 14.9536C160.348 14.1893 161.856 13.3737 163.342 12.5071L162.839 11.6433ZM154.695 15.7824C151.58 17.1458 148.393 18.3008 145.157 19.2459L145.437 20.2058C148.715 19.2488 151.942 18.0791 155.096 16.6985L154.695 15.7824ZM141.23 20.2837C137.931 21.0656 134.589 21.6337 131.226 21.9861L131.33 22.9807C134.736 22.6238 138.12 22.0485 141.461 21.2567L141.23 20.2837ZM127.177 22.3057C123.8 22.4852 120.411 22.4485 117.03 22.1938L116.955 23.191C120.378 23.4489 123.811 23.4861 127.23 23.3043L127.177 22.3057ZM112.989 21.7849C109.644 21.3594 106.315 20.7186 103.025 19.8608L102.772 20.8285C106.105 21.6971 109.475 22.346 112.863 22.7769L112.989 21.7849ZM99.1224 18.736C97.5139 18.2273 95.9167 17.6655 94.333 17.0505L93.971 17.9827C95.5746 18.6054 97.1921 19.1743 98.8208 19.6894L99.1224 18.736ZM94.333 17.0505C92.769 16.4431 91.1944 15.8877 89.6114 15.3837L89.308 16.3365C90.8713 16.8343 92.4264 17.3828 93.971 17.9827L94.333 17.0505ZM85.7679 14.2648C82.5178 13.406 79.2403 12.759 75.9537 12.319L75.821 13.3101C79.0664 13.7446 82.303 14.3836 85.5124 15.2316L85.7679 14.2648ZM71.9721 11.8872C68.6328 11.6095 65.2921 11.5432 61.9692 11.6835L62.0114 12.6826C65.2927 12.5441 68.5917 12.6096 71.8892 12.8838L71.9721 11.8872ZM57.9744 11.9522C54.6464 12.2597 51.3444 12.7747 48.0882 13.4922L48.3034 14.4688C51.5191 13.7602 54.7799 13.2517 58.0664 12.948L57.9744 11.9522ZM44.2006 14.4512C40.9842 15.3301 37.8215 16.4097 34.7322 17.685L35.1138 18.6093C38.1645 17.3499 41.2878 16.2838 44.4642 15.4158L44.2006 14.4512ZM31.0706 19.3047C28.0637 20.7258 25.1369 22.338 22.3098 24.1366L22.8465 24.9803C25.6383 23.2042 28.5285 21.6122 31.4979 20.2089L31.0706 19.3047ZM18.9856 26.3704C16.2806 28.2882 13.6799 30.3852 11.2019 32.6568L11.8777 33.3939C14.3247 31.1507 16.8929 29.08 19.564 27.1862L18.9856 26.3704ZM8.31961 35.4346C7.15252 36.617 6.01679 37.8409 4.91461 39.1059L5.66858 39.7628C6.75711 38.5135 7.87874 37.3047 9.03129 36.1371L8.31961 35.4346ZM4.91461 39.1059L4.24805 39.871L5.00201 40.5279L5.66858 39.7628L4.91461 39.1059ZM3.7148 40.483L3.04823 41.248L3.80219 41.9049L4.46876 41.1399L3.7148 40.483ZM163.09 12.0752L162.587 11.2113L162.587 11.2113L163.09 12.0752ZM5.2916 39.4344L6.04556 40.0913L6.04556 40.0913L5.2916 39.4344ZM2.42757 41.6451C2.46547 42.1961 2.94285 42.612 3.49383 42.5741L12.4726 41.9565C13.0236 41.9186 13.4395 41.4412 13.4016 40.8903C13.3637 40.3393 12.8864 39.9233 12.3354 39.9612L4.35423 40.5102L3.80527 32.5291C3.76737 31.9781 3.28999 31.5621 2.739 31.6C2.18802 31.6379 1.77208 32.1153 1.80998 32.6663L2.42757 41.6451ZM94.152 17.5166L94.514 16.5844L94.514 16.5844L94.152 17.5166ZM181.157 0.381468L177.841 2.31537L178.849 4.04305L182.165 2.10914L181.157 0.381468ZM175.188 3.8625L168.556 7.73031L169.563 9.45799L176.196 5.59018L175.188 3.8625ZM165.903 9.27744L162.587 11.2113L163.594 12.939L166.91 11.0051L165.903 9.27744ZM162.587 11.2113C161.128 12.0618 159.648 12.8621 158.149 13.6121L159.044 15.4007C160.581 14.6317 162.099 13.811 163.594 12.939L162.587 11.2113ZM154.495 15.3243C151.399 16.6791 148.233 17.8268 145.016 18.7659L145.577 20.6858C148.875 19.7228 152.122 18.5458 155.297 17.1566L154.495 15.3243ZM141.115 19.7972C137.836 20.5742 134.516 21.1386 131.174 21.4888L131.382 23.4779C134.809 23.1188 138.214 22.54 141.576 21.7432L141.115 19.7972ZM127.15 21.8064C123.795 21.9848 120.427 21.9483 117.067 21.6953L116.917 23.6896C120.362 23.9491 123.816 23.9865 127.257 23.8036L127.15 21.8064ZM113.052 21.2889C109.728 20.8661 106.421 20.2293 103.151 19.377L102.646 21.3123C106 22.1863 109.391 22.8393 112.8 23.2729L113.052 21.2889ZM99.2732 18.2592C97.6749 17.7537 96.0877 17.1955 94.514 16.5844L93.79 18.4488C95.4036 19.0754 97.0311 19.6478 98.6701 20.1661L99.2732 18.2592ZM94.514 16.5844C92.9403 15.9733 91.356 15.4144 89.7631 14.9072L89.1563 16.813C90.7098 17.3076 92.2551 17.8527 93.79 18.4488L94.514 16.5844ZM85.8956 13.7814C82.6253 12.9173 79.3272 12.2661 76.0201 11.8234L75.7547 13.8057C78.9795 14.2374 82.1956 14.8724 85.3847 15.715L85.8956 13.7814ZM72.0135 11.3889C68.6534 11.1095 65.2917 11.0428 61.9481 11.1839L62.0324 13.1822C65.2931 13.0445 68.5712 13.1096 71.8478 13.382L72.0135 11.3889ZM57.9283 11.4543C54.5796 11.7638 51.2571 12.282 47.9806 13.004L48.411 14.9571C51.6064 14.253 54.8467 13.7476 58.1124 13.4459L57.9283 11.4543ZM44.0688 13.9688C40.8324 14.8533 37.65 15.9396 34.5414 17.2228L35.3046 19.0715C38.3361 17.82 41.4397 16.7606 44.596 15.8981L44.0688 13.9688ZM30.857 18.8527C27.8313 20.2826 24.8862 21.9049 22.0414 23.7147L23.1149 25.4022C25.889 23.6373 28.7609 22.0553 31.7115 20.6609L30.857 18.8527ZM18.6964 25.9625C15.9745 27.8923 13.3575 30.0024 10.8641 32.2882L12.2156 33.7625C14.6471 31.5335 17.199 29.4758 19.8532 27.594L18.6964 25.9625ZM7.96376 35.0834C6.78941 36.2731 5.64663 37.5046 4.53763 38.7775L6.04556 40.0913C7.12727 38.8498 8.24184 37.6486 9.38713 36.4884L7.96376 35.0834ZM4.53763 38.7775L3.87107 39.5425L5.37899 40.8563L6.04556 40.0913L4.53763 38.7775ZM3.33782 40.1545L2.67125 40.9196L4.17918 42.2334L4.84574 41.4684L3.33782 40.1545Z" fill="#FFB800"/>
        </svg>


//- Sanzhar steps
mixin steps()  
  #TLcontrols
  section.steps-wrap#how-it-works3.spy-it
    .container.asan-steps
      h1.section-title.anim.slide-in-top=steps.title
      ul.steps
        each item, index in steps.list
          +step(item, index)
    h1.sanj-steps.section-title.anim.slide-in-top=steps.title      
    #sanj-steps(v-cloak)
     <section @mouseenter="changeLeftWidth" :style='{ flex: leftWidth }' class="tp-step-left tp-step">
      
      .tp-fade(v-show="leftShow")           
          img(src="assets/media/images/content/steps-l-bg.svg", alt="") 
          <h2 > ОБЪЕКТ <br> БЕЗ <br> ОХРАНЫ <br> TOP <br> SECURITY <br> KZ </h2>        
      transition(name="fade")    
        .hidden-fade(v-show="lhShow")
          .hidden-fade__title ОБЪЕКТ БЕЗ ОХРАНЫ TOP SECURITY KZ
          .hidden-fade__content
            ul
              li(v-for="list in lists1",:id="list.id")
                div( :class="list.class")
                  img(:src="list.img")
                <p> {{ list.text}} </p>                
              <svg class="content__svg svg-anim-top" viewBox="0 0 520 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 4H720" stroke="#EF3B39" stroke-width="7" stroke-dasharray="25 8"/>
              </svg>
            <svg class="content-right-svg " viewBox="0 0 52 332" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M-1.46343e-05 4L15 4C33.2254 4.00001 48 18.7746 48 37L48 169.189L48 295C48 313.225 33.2254 328 15 328L-4.71775e-07 328" stroke="#EF3B39" stroke-width="7" stroke-dasharray="25 8"/>
            </svg>  
            ul
              li(v-for="list in lists2", :id="list.id")
                div(:class="list.class")
                  img(:src="list.img")
                <p> {{ list.text}} </p>
              <svg class="content__svg svg-anim-bottom"  viewBox="0 0 520 8" fill="none" xmlns="http://www.w3.org/2000/svg">               
                <path d="M0 4H720" stroke="#EF3B39" stroke-width="7" stroke-dasharray="25 8"/>               
              </svg>
            <svg class="content-left-svg" viewBox="0 0 499 328" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M139 4.00001L37 4.00001C18.7746 4.00001 4 18.7746 4 37L4 147.391L4 291C4 309.225 18.7746 324 37 324L499 324" stroke="#EF3B39" stroke-width="7" stroke-dasharray="25 8"/>
            </svg>  
            ul(style="justify-content: center; margin:0")  
              li(id="left-svg7")  
                div(class="content__img content__img__red") 
                  img(src="assets/media/images/content/steps-before-image7.jpg", alt="")                 
                p.
                  Долгие недели ожидания
                  возврата пропавших 
                  вещей 
                 

     </section>
     <section @mouseenter="changeRightWidth" :style='{ flex: rightWidth }' class="tp-step-right tp-step">
      
      .tp-fade(v-show="rightShow")           
            img(src="assets/media/images/content/steps-2-bg.svg", alt="") 
            <h2> ОБЪЕКТ <br> ПОД <br> ОХРАНОЙ <br> TOP <br> SECURITY <br> KZ </h2>                          
      transition(name="fade")  
        .hidden-fade(v-show="rhShow") 
          .hidden-fade__title ОБЪЕКТ ПОД ОХРАНОЙ TOP SECURITY KZ
          .hidden-fade__content
            ul
              li(v-for="list in lists3", :id="list.id")
                div(:class="list.class" )
                  img(:src="list.img")                
                <p> {{ list.text}} </p>
              <svg class="content__svg svg-anim-top" viewBox="0 0 520 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 4H0" stroke="#ffb800" stroke-width="7" stroke-dasharray="25 8"/>
              </svg>
            <svg class="content-right-svg" viewBox="0 0 52 332" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M-1.46343e-05 4L15 4C33.2254 4.00001 48 18.7746 48 37L48 169.189L48 295C48 313.225 33.2254 328 15 328L-4.71775e-07 328" stroke="#ffb800" stroke-width="7" stroke-dasharray="25 8"/>
            </svg>               
            ul
              li(v-for="list in lists4", :id="list.id")
                div(:class="list.class")
                  img(:src="list.img")
                <p> {{ list.text}} </p>
              <svg class="content__svg svg-anim-bottom" viewBox="0 0 520 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 4H720" stroke="#ffb800" stroke-width="7" stroke-dasharray="25 8"/>
              </svg>              
     </section>
  
                                                                       
               

//- ASAN
//- mixin steps2()
  section.steps-wrap#how-it-works.spy-it
    .container
      h1.section-title.anim.slide-in-top=steps.title
      ul.steps
        each item, index in steps.list
          +step(item, index)
          